<div>
  <nav>
    <div class="header-section">
      <div class="logo-section">
        <div>
          <img
            src="../../assets/Bank Logo.jpeg"
            alt="Bank Application Logo"
            class="logo"
          />
        </div>
        <div>
          <span class="bank-name">Bank Of TamilNadu</span>
        </div>
      </div>
      <div class="links">
        <a href="#" class="link">Products</a>
        <a href="#" class="link">Payments</a>
        <a href="#" class="link">Cards</a>
        <a href="#" class="link">Loans</a>
        <a href="#" class="link">Offers</a>
        <a href="#" class="link">Features</a>
        <a href="#" class="link">More</a>
      </div>
      <div>
        <a href="#" class="login-btn">Login</a>
      </div>
    </div>
  </nav>
</div>
